section.payments
    include ../modules/info-block/info-block
    h3.title My Commissions & Payments
    p.description Your current commission structure is:
    include ../modules/payments-cards/payments-cards
    div.payments-inner
        div.payments-inner__control
            include  ../modules/date-picker/date-picker
            include  ../modules/search/search
