div.date-picker
    button(type='button').date-picker__arrow.date-picker__arrow--left
        img(src='/static/images/select-left.svg')
    button(type='button').date-picker__calendar
        img(src='/static/images/calendar.svg')
    div.date-picker__text September, 2020
    button(type='button').date-picker__arrow.date-picker__arrow--right
        img(src='/static/images/select-right.svg')
