.date-picker {
  display: inline-flex;
  align-items: center;
  padding: 4px 7px;
  border: solid 1px $color12;
  border-radius: 4px;
  background-color: $color8;

  &__arrow, &__calendar {
    padding: 0;
    border: none;
    background-color: transparent;
  }

  &__calendar {
    margin-right: 8px;
  }

  &__arrow {
    &--left {
      margin-right: 15px;
    }

    &--right {
      margin-left: 15px;
    }
  }

  &__text {
    font-size: 14px;
    line-height: 24px;
    font-weight: 600;
    color: $color1;
  }
}
