// Colors
$color1: #414141;
$color2: #808080;
$color3: #767676;
$color4: #d4d4d4;
$color5: #e9e9e9;
$color6: #ddeefc;
$color7: #f7f8fa;
$color8: #fff;
$color9: #ff9000;
$color10: #6772e5;
$color11: #45688f;
$color12: #aaa;
$color13: #959595;

// Font-size
$base-font-size: 16px;

// Font-family
$base-font-family: 'Open Sans', sans-serif;

// Container
$content-size: 936px;
