div.info-block
    img.info-block__icon(src='/static/images/info.svg')
    div.info-block__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, delectus est excepturi facere facilis fuga inventore, libero maiores necessitatibus nesciunt quia quo quos recusandae repellat sit sunt veritatis? Consequatur, cupiditate.
    button.info-block__close
        img(src='/static/images/close.svg')
