footer.footer
    |&copy; 2019-2020 airSlate Ink. All rights reserved. Your use of this site is a subject to
    a.footer__link(href='terms-of-service') Terms of services
    | and
    a.footer__link(href='privacy-policy') Privacy Policy
